composer.phar
/bootstrap/ssr
/node_modules

/public/css
/public/js
/public/webfonts
/public/hot
/public/build
/public/storage
/public/images/vendor
/public/sitemap.xml
/public/css/*
/public/js/*
/public/mix-manifest.json
/public/fonts/vendor
/public/build/*

/storage/*.key
/storage/keys/*
/storage/media-library/temp/*

/vendor
/**/vendor
!/resources/views/vendor
/.idea
/.vagrant

/coverage
/coverage-feature
/coverage-integration
/coverage-unit

Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

.env
.env.test
.env.testing
.env.dusk.local
.DS_Store
.phpunit.result.cache
.php_cs.cache
*.code-workspace
.php-cs-fixer.cache
tlint_output.txt
auth.json
*.todo
.phpactor.json
test-results
/.phpunit.cache
